---
// Introduction.astro

import Arrow from '../components/Arrow.astro';
import Media from '../components/Media.astro';

interface Props {
  introField1: string;
  introField2: string;
  media?: string;
  id: string;
}

const { introField1, introField2, media, id } = Astro.props;
---

<header id={id} class="relative w-full h-screen" data-slides>
  {media && (
    <Media trigger="background" src={media} alt="Introduction Visual" cssClasses="opacity-0 hidden absolute inset-0 w-full h-full object-cover" />
  )}
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-[15vh] sm:-translate-y-1/2 z-0">
    <img data-speed="1.3" class="intro-mp" src="./images/mass-appeal.svg" alt="Mass Appeal">
  </div>

  <div data-speed="1.2" class="globe">
    <div class="globe-offset">
      <img class="absolute rotate-infinite w-full h-full" src="./images/globe-text.svg" alt="Mass Appeal" />
      <img class="absolute w-full h-full" src="./images/globe.svg" alt="Mass Appeal" />
    </div>
  </div>  

  <div data-speed="1.25" class="intro-copy elevated">{introField1}</div>
  <div data-speed="1.25" class="intro-copy since">{introField2}</div>

  <Arrow imgSrc="/images/arrow-up.svg" cssOut="hidden opacity-0 rotate-180 absolute bottom-36 sm:bottom-24 left-[10vw] sm:left-[30vw] mix-blend-difference "cssMid="w-28 h-28 sm:w-36 sm:h-36 xl:w-44 xl:h-44 2xl:w-52 2xl:h-52 border border-white rounded-full transition-color-border duration-300 ease-in-out hover:bg-massyellow hover:border-massyellow" cssInner="w-full h-full flex flex-col justify-center items-center mix-blend-difference" altText="Scroll Down" link="#introduction" dataSpeed="1.3" type="data-arrow-down" />

        


     

</header>
