---
// LargeParagraph.astro

interface Props {
  content: string;
  id: string;
}

const { content, id } = Astro.props;
---

<section id={id} class="min-h-screen w-full flex items-center justify-center">
  <h1 class="breaker transform">{content}</h1>
</section>
