---
// LargeParagraph.astro

interface Props {
  content: string;
  id: string;
}

const { content, id } = Astro.props;
---
<!-- grunge -->
<section id={id} data-slides data-bg-type="4" class="relative min-h-screen w-full flex items-center justify-center overflow-y-hidden">
  <h1 data-speed="1.1" class="breaker opacity-0" data-animation-txt-lg>{content}</h1>
  <img src="./images/chain.webp" data-speed="1.2" data-bg-misc alt="Mass Appeal Chain" class=" absolute top-96 sm:-top-72 lg:-top-72  xl:-top-72 2xl:-top-72 3xl:-top-80 w-full h-auto aspect-square" />
</section>
