---
// Mouse.astro
---
<div data-mouse-follow class="hidden mix-blend-difference fixed z-[60] pointer-events-none transform -translate-x-1/2 -translate-y-1/2 ">
    <div class="flex items-center justify-center w-6 h-6">
      <span class="text-sm xl:text-md text-black uppercase whitespace-nowrap absolute text-center z-[32] opacity-0">
          View Project
      </span>
      <div class="w-4 h-4 xl:w-6 xl:h-6 bg-massyellow rounded-full absolute z-30">
      </div>
    </div>
</div>