---
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

---

<html>
  <head>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main>
      <slot></slot>
    </main>
    <footer>
      <p>&copy; 2024 My Site</p>
    </footer>
  </body>
</html>
