---
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

---

<html>
  <head>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
    </header>
    <main>
      <slot></slot>
    </main>
  </body>
</html>
